{{#partial "styles"}}
    <link rel="stylesheet" href="/css/index.css">
{{/partial}}

{{#partial "content"}}
    <section class="container banner">
        <div class="">
            <h1 class="title">
                FOREST <br> SERVICE
            </h1>
            <p class="animal">A site that records Endangered and common animals making it easy to record sightings. This makes the work of rangers and conservationists easy for record keeping and management of animals and their population. <br> </p>
            <a href="/animal"> <button type= "button" class="btn btn-home rounded-pill">Add animal</button></a>
        </div>
    </section>
{{/partial}}
{{>layout.hbs}}